@charset "UTF-8";

@font-face {
  font-family: "Geometria";
  font-display: swap;
  src: url("../fonts/Geometria-Bold.woff") format("woff"), url("../fonts/Geometria-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  font-display: swap;
  src: url("../fonts/Geometria-Medium.woff") format("woff"), url("../fonts/Geometria-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  font-display: swap;
  src: url("../fonts/Geometria.woff") format("woff"), url("../fonts/Geometria.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

/*--------Цвета-------- */

/*--------Общие-------- */

.offer-slide__dots li button:before {
  -webkit-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}

/*--------Спецификация-------- */

body {
  font: 16px 'OpenSans', sans-serif, serif;
  padding: 0;
  margin: 0;
  color: #fff;
}

div,
ul,
li,
p,
form,
b,
button,
a,
input,
textarea,
img {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Geometria", sans-serif, serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #0c3273;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 40px;
  font-weight: 500;
}

ul,
li {
  padding: 0;
  margin: 0;
  display: block;
}

button,
button:hover,
button:active,
button:focus {
  outline: none !important;
}

.btn,
.btn:hover,
.btn:active,
.btn:focus {
  outline: none !important;
}

a,
a:hover {
  text-decoration: none;
  outline: none;
}

.btn:active {
  outline: none !important;
}

.btn:focus {
  outline: none;
}

input,
textarea {
  outline: none;
}

label {
  margin: 0;
}

.icon {
  fill: #5088a0;
}

.icon__map {
  margin-right: 8px;
  height: 19px;
  width: 15px;
}

.icon__clock {
  margin-right: 10px;
  width: 19px;
  height: 19px;
}

.icon__mail {
  margin-right: 11px;
  width: 24px;
  height: 20px;
}

.icon__instagram {
  width: 19px;
  height: 19px;
}

.icon__facebook {
  margin: 0 57px;
  height: 19px;
  width: 20px;
}

.icon__telegram {
  width: 20px;
  height: 18px;
}

.icon__call-answer {
  margin-right: 9px;
  height: 19px;
  width: 20px;
}

.icon__whatsapp {
  margin-right: 9px;
  width: 20px;
  height: 18px;
}

.icon__youtube {
  width: 20px;
  height: 21px;
}

.container {
  width: 1170px;
}

/*--------Header-------- */

.header-top {
  padding: 20px 16px;
}

.header-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-address div:not(:last-child) {
  margin-right: 45px;
}

.header-address__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-address__description {
  font-weight: 400;
  color: #404040;
}

.header-contact {
  text-align: end;
}

.header-contact__mail {
  margin-right: 56px;
  display: inline-block;
}

.header-contact__link {
  color: #404040;
}

.header-contact__link:hover {
  color: #404040;
}

.header-social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header-logo {
  width: 165px;
}

.header-general {
  color: #404040;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.05);
}

.header-description {
  font-size: 18px;
  margin-top: 11px;
}

.header-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-phones {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 40px;
}

.header-phones a:not(:last-child) {
  margin-bottom: 16px;
}

.header-phones__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #404040;
}

.header-phones__link:hover {
  color: #404040;
}

.header-submit {
  max-width: 165px;
  width: 100%;
  text-align: center;
}

.header-submit__popup {
  color: #fff;
  background-color: #5088a0;
  text-transform: uppercase;
  padding: 18px 0;
  font-size: 14px;
}

.header-submit__popup:hover {
  color: #fff;
}

.header-menu {
  padding: 22px 0;
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-navigation__link {
  color: #404040;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
}

.header-navigation__link:hover {
  color: #5088a0;
}

/*--------Offer-------- */

.offer-slide__list {
  position: relative;
}

.offer-slide__img {
  width: 100%;
}

.offer-slide__block {
  position: absolute;
  top: 50%;
  left: 17.4%;
  margin-top: -157px;
}

.offer-slide__title {
  max-width: 685px;
  width: 100%;
  color: #fff;
  font-family: 'OpenSans', sans-serif, serif;
  font-size: 45px;
  font-weight: 600;
  line-height: 1.333em;
  margin-bottom: 35px;
}

.offer-slide__description {
  font-size: 24px;
  line-height: 1.458em;
  text-align: left;
  max-width: 634px;
  width: 100%;
}

.offer-slide__dots {
  position: absolute;
  bottom: 20px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 0;
}

.offer-slide__dots li:not(:last-child) {
  margin-right: 20px;
}

.offer-slide__dots li {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 0;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.offer-slide__dots li.slick-active button:before {
  background-color: #5088a0;
}

.offer-slide__dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.offer-slide__dots li button:hover,
.offer-slide__dots li button:focus {
  outline: 0;
}

.offer-slide__dots li button:hover:before,
.offer-slide__dots li button:focus:before {
  opacity: 1;
}

.offer-slide__dots li button:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 50%;
  margin: -7.5px -7.5px 0 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  color: transparent;
}

/*--------Our service-------- */

.homeService {
  padding: 95px 0;
}

.homeService-information {
  text-align: center;
  margin-bottom: 35px;
}

.homeService-information__title {
  margin-bottom: 40px;
}

.homeService-information__description {
  font-size: 24px;
  width: 1012px;
  color: #404040;
  margin: 0 auto;
}

.homeService-information__description:not(:last-child) {
  margin-bottom: 30px;
}

.homeService-information__description--second {
  width: 845px;
}

.homeService-block {
  padding: 0 0 30px 40px;
  margin-bottom: 32px;
}

.homeService-block__title {
  font-family: 'OpenSans', sans-serif, serif;
  font-size: 27px;
  margin-bottom: 35px;
  color: #fff;
}

.homeService-block__description {
  font-size: 22px;
  font-weight: 300;
}

.homeService__block-one {
  padding-top: 118px;
  padding-right: 168px;
}

.homeService__block-two {
  padding-top: 86px;
  padding-right: 20px;
}

.homeService__block-three {
  padding-top: 124px;
}

.homeService__block-four {
  padding-top: 124px;
  padding-right: 116px;
}

.homeService__block-five {
  padding-top: 98px;
  padding-right: 49px;
}

.homeService__block-six {
  padding-top: 92px;
  padding-right: 23px;
}

.homeService__link {
  text-transform: uppercase;
  color: #404040;
  text-align: center;
  font-size: 18px;
}

.homeService__link:hover {
  color: #404040;
}

/*--------Counter-------- */

.counter {
  padding: 16px 0;
  font-family: 'Geometria', sans-serif, serif;
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.05);
}

.counter-block {
  text-align: center;
}

.counter-block__number {
  display: block;
  font-size: 60px;
  font-weight: 700;
  color: #5088a0;
  margin-bottom: 15px;
}

.counter-block__description {
  font-size: 19px;
  color: #404040;
  text-transform: uppercase;
}

/*--------Portfolio-------- */

.homePortfolio {
  padding: 95px 0;
}

.homePortfolio__title {
  text-align: center;
  margin-bottom: 45px;
}

.homePortfolio__overview__link {
  font-size: 18px;
  font-weight: 300;
  color: #404040;
  margin-bottom: 15px;
}

.homePortfolio__overview__link:hover {
  color: #404040;
}

.homePortfolio__overview__title {
  font-family: 'OpenSans', sans-serif, serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #404040;
}

.homePortfolio-block {
  width: 100%;
  margin-bottom: 50px;
}

.homePortfolio-block:hover .homePortfolio__hover {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.7);
}

.homePortfolio-hover {
  padding: 47px 0 35px 40px;
  font-size: 20px;
  font-weight: 300;
  visibility: hidden;
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
}

.homePortfolio-hover__area {
  margin-bottom: 10px;
}

.homePortfolio-hover__description {
  width: 384px;
  margin-bottom: 115px;
}

.homePortfolio-hover__description-three {
  width: 270px;
  margin-bottom: 92px;
}

.homePortfolio-hover__description-four {
  width: 516px;
  margin-bottom: 138px;
}

.homePortfolio__link {
  text-transform: uppercase;
  color: #404040;
  text-align: center;
  font-size: 18px;
}

.homePortfolio__link:hover {
  color: #404040;
}

/*--------HomeCalculate-------- */

.homeCalculate {
  padding: 45px 0;
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.05);
}

.homeCalculate__title {
  text-align: center;
  margin-bottom: 45px;
}

.homeCalculate-options__select {
  margin-bottom: 40px;
}

.homeCalculate-options__title {
  font-size: 24px;
  color: #404040;
  margin-bottom: 30px;
  font-family: 'OpenSans', sans-serif, serif;
}

.homeCalculate-options__item {
  font-size: 23px;
  font-weight: 300;
  color: #404040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.homeCalculate-options__item:not(:last-child) {
  margin-bottom: 25px;
}

.homeCalculate-options__choose {
  position: relative;
}

.homeCalculate-options__choose:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: #959595 transparent transparent transparent;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  right: 22%;
}

.homeCalculate-options__choose select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  font-size: 20px;
  color: #5088a0;
  background-color: transparent;
  border: 1px solid #ddd;
  padding: 20px 0 20px 20px;
  max-width: 458px;
  width: 100%;
}

.homeCalculate-options__choose select:focus {
  outline: none;
  border-color: #5088a0;
}

.homeCalculate-options__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.homeCalculate-options__checkbox:checked + .homeCalculate-options__label:after {
  opacity: 1;
}

.homeCalculate-options__label {
  padding-left: 50px;
  cursor: pointer;
  font-weight: 300;
}

.homeCalculate-options__label:before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.homeCalculate-options__label:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: #5088a0;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity .6s ease;
  -o-transition: opacity .6s ease;
  transition: opacity .6s ease;
}

.select {
  max-width: 458px;
  width: 100%;
  position: relative;
}

.select:not(:last-child) {
  margin-bottom: 30px;
}

.select.is_active .select__body {
  display: block;
}

.select.is_active .select__current {
  background-color: #5088a0;
  color: #fff;
}

.select.is_active .select__icon {
  border-color: #fff transparent transparent transparent;
}

.select.is_active {
  margin-bottom: 150px;
}

.select__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #5088a0;
  border: 1px solid #ddd;
  cursor: pointer;
}

.select__current {
  font-size: 20px;
  padding: 20px 0 20px 20px;
  max-width: 458px;
  width: 100%;
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
}

.select__icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  right: 8%;
  margin-left: auto;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: #959595 transparent transparent transparent;
}

.select__body {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  border: 1px solid #5088a0;
  display: none;
}

.select__item {
  border-top: 1px solid #5088a0;
  font-size: 20px;
  padding: 20px 0 20px 20px;
  color: #5088a0;
  cursor: pointer;
}

.home-form {
  background-color: #e8e8e8;
  padding: 60px 85px 70px 89px;
}

.home-form__title {
  font-size: 24px;
  text-transform: uppercase;
  color: #404040;
  margin-bottom: 20px;
}

.home-form__price {
  font-family: 'Geometria', sans-serif, serif;
  font-size: 60px;
  font-weight: 700;
  color: #5088a0;
}

.home-form__currency {
  font-size: 60px;
  font-weight: 300;
  color: #404040;
  margin-left: 23px;
}

.home-form__description {
  color: #404040;
  font-size: 24px;
  font-weight: 100;
  margin-top: 55px;
  margin-bottom: 45px;
}

.home-form__field {
  max-width: 358px;
  width: 100%;
  margin: 0 auto 32px;
  padding: 20px 0 20px 20px;
  font-size: 18px;
  color: #ababab;
  border: 0;
}

.home-form__btn {
  padding: 20px 0;
  color: #fff;
  text-transform: uppercase;
  max-width: 359px;
  width: 100%;
  background-color: #5088a0;
  font-size: 22px;
  font-weight: 500;
  margin: 0 auto;
  border: 0;
  letter-spacing: 0.05em;
}

/*--------Partners-------- */

.partners {
  padding: 100px 0;
}

.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*--------Our Service-------- */

.service {
  border-top: 1px solid #e8e8e8;
  padding: 90px 0 10px;
}

.service__title {
  font-weight: 500;
  color: #355d6e;
  margin: 0 auto 70px;
}

.service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}

.service-list__left {
  max-width: 555px;
  width: 100%;
  margin-right: 30px;
}

.service-list__right {
  max-width: 555px;
  width: 100%;
}

.service-list__img {
  max-width: 555px;
  width: 100%;
  max-height: 298px;
}

.service-list__title {
  font-size: 24px;
  font-weight: 400;
  color: #5088a0;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.service-list__description {
  font-size: 24px;
  font-weight: 300;
  color: #404040;
  margin-bottom: 20px;
}

.service-list__description-more {
  margin-top: 20px;
  margin-bottom: 0;
  display: none;
}

.service-list__link {
  text-transform: uppercase;
  font-weight: 300;
  color: #ababab;
  margin-bottom: 20px;
  cursor: pointer;
}

.service-list__link:hover {
  color: #ababab;
}

.service-list__link.active + .service-list__description-more {
  display: block;
}

/*.articles-box__more.active {
  display: inline-block;
  color: #c1c0c0;
  border-bottom: 1px solid #c1c0c0;
}*/

/*--------Our Service-------- */

.homeCalculate-other {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*--------ServiceVideo-------- */

.serviceVideo {
  padding: 45px 0 100px;
}

.serviceVideo__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.serviceVideo__title {
  color: #355d6e;
  margin-bottom: 40px;
}

/*--------ServiceQuestion-------- */

.serviceQuestion {
  padding: 45px 0 50px;
  background-color: #f8fafb;
}

.serviceQuestion__title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.serviceQuestion__description {
  font-size: 24px;
  font-weight: 300;
  color: #404040;
  text-align: center;
}

.serviceQuestion__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
}

.serviceQuestion__field {
  max-width: 355px;
  margin-right: 30px;
  border: 1px solid #e8e8e8;
}

.serviceQuestion__btn {
  max-width: 355px;
  padding: 0;
  height: 60px;
}

/*--------С-------- */

.contact {
  padding: 85px 0 70px;
  background-color: #f8fafb;
}

.contact__title {
  color: #355d6e;
  margin-bottom: 70px;
  text-align: center;
}

.contact-info__block {
  color: #404040;
}

.contact-info__block:not(:last-child) {
  margin-bottom: 50px;
}

.contact-info__title {
  font-family: 'Geometria', sans-serif, serif;
  font-weight: 400;
  color: #404040;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 24px;
}

.contact-info__description {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 15px;
}

.contact-info__link {
  font-size: 24px;
  font-weight: 400;
  color: #5088a0;
  margin-bottom: 15px;
}

.contact-info__link-mail {
  margin-bottom: 0;
}

.contact-info__link:hover {
  color: #5088a0;
}

.contact-form {
  background-color: #fff;
  padding: 60px 57px;
}

.contact-form__title {
  font-family: 'Geometria', sans-serif, serif;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}

.contact-form__description {
  font-size: 24px;
  font-weight: 300;
  color: #404040;
  margin-top: 15px;
  margin-bottom: 45px;
}

.contact-form__field {
  margin: 0 0 30px 0;
  border: 1px solid #e8e8e8;
  max-width: 420px;
  width: 100%;
}

.contact-form__btn {
  max-width: 420px;
  width: 100%;
}

.about {
  padding: 95px 0;
  background-color: #f8fafb;
}

.about__title {
  color: #355d6e;
  margin-bottom: 40px;
  text-align: center;
}

.about-block {
  text-align: center;
}

.about-block p:not(:last-child) {
  margin-bottom: 25px;
}

.about-block__title {
  font-size: 23px;
  color: #404040;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.about-block__description {
  font-size: 24px;
  font-weight: 300;
  color: #404040;
}

.team {
  padding: 90px 0 70px;
  background-color: #f8fafb;
}

.team__title {
  color: #355d6e;
  text-align: center;
  margin-bottom: 40px;
}

.team-block {
  background-color: #fff;
  max-width: 360px;
  width: 100%;
  padding: 50px 48px;
  text-align: center;
  margin-bottom: 30px;
}

.team-block-1 {
  margin-top: 100px;
}

.team-block-2 {
  margin-top: 50px;
}

.team-block-3 {
  margin-top: 0;
}

.team-block-5 {
  margin-top: -38px;
}

.team-block-6 {
  margin-top: -88px;
}

.team-block__img {
  max-width: 263px;
  width: 100%;
  max-height: 263px;
  margin-bottom: 35px;
}

.team-block__title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #404040;
}

.team-block__description {
  font-size: 15px;
  font-weight: 300;
  color: #404040;
}

.partners__about {
  padding: 0 0 100px 0;
  background-color: #f8fafb;
}

.partners__title {
  margin-bottom: 35px;
  color: #355d6e;
  text-align: center;
}

.aboutArticles {
  background-color: #f8fafb;
  padding-bottom: 100px;
}

.aboutArticles-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.aboutArticles-slide__list {
  position: relative;
  outline: 0;
}

.articles-block {
  background-color: #fff;
  padding: 45px 75px 45px 50px;
  color: #404040;
  font-size: 16px;
  max-width: 525px;
  width: 100%;
  height: 400px;
  outline: 0;
}

.articles-block__date {
  display: inline-block;
  font-family: 'Geometria', sans-serif, serif;
  font-weight: 400;
  color: #5088a0;
  margin-bottom: 15px;
}

.articles-block__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
}

.articles-block__categories a:not(:last-child) {
  margin-right: 10px;
}

.articles-block__links {
  color: #355d6e;
}

.articles-block__links:hover {
  color: #355d6e;
}

.articles-block__description {
  font-size: 24px;
  margin-bottom: 25px;
}

.articles-block__open {
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  color: #355d6e;
  border-bottom: 1px solid #355d6e;
}

.articles-block__open:hover {
  color: #355d6e;
}

.slick-prev {
  display: block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 3px solid #ababab;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: none;
  border-right: none;
  position: absolute;
  top: 50%;
  margin-top: -21px;
  left: 2%;
  z-index: 5;
}

.slick-next {
  display: block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 3px solid #ababab;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  border-left: none;
  border-bottom: none;
  position: absolute;
  top: 50%;
  margin-top: -21px;
  right: 5%;
  z-index: 5;
}

.apricalPage {
  background-color: #f8fafb;
  padding: 100px 0;
}

.apricalPage-block {
  background-color: #fff;
  padding: 40px 110px 40px 98px;
  color: #404040;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 40px;
}

.apricalPage-block__source {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.apricalPage__title {
  font-family: 'OpenSans', sans-serif, serif;
  font-size: 24px;
  font-weight: 400;
  color: #404040;
  margin-bottom: 20px;
}

.apricalPage__description {
  margin-bottom: 15px;
}

.apricalPage__item {
  margin-bottom: 25px;
}

.apricalPage__link {
  display: inline-block;
  font-size: 18px;
  color: #404040;
  border-bottom: 1px solid #404040;
  margin-bottom: 45px;
}

.apricalPage__link:hover {
  color: #404040;
}

.apricalPage__source-link {
  margin-left: 5px;
  color: #5088a0;
  border-bottom: 1px solid #5088a0;
}

.apricalPage__source-link:hover {
  color: #5088a0;
}

.apricalPage-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.apricalPage-navigation__link {
  font-size: 18px;
  font-weight: 300;
  color: #355d6e;
  border-bottom: 1px solid #355d6e;
}

.apricalPage-navigation__link:hover {
  color: #355d6e;
}

.apricalPage-navigation__link-return {
  text-transform: uppercase;
  border: 0;
}

/*--------Footer-------- */

.footer {
  padding: 60px 0 98px;
  background-color: #383838;
}

.footer__logo {
  max-width: 293px;
  width: 100%;
  margin-bottom: 50px;
}

.footer-icon {
  fill: #b9d3de;
}

.footer-icon__facebook {
  margin: 0;
}

.footer-icon__call {
  height: 20px;
  width: 19px;
  fill: #b9d3de;
}

.footer-icon__map {
  height: 16px;
  width: 19px;
  fill: #b9d3de;
  margin-right: 14px;
}

.footer-icon__clock {
  height: 19px;
  width: 19px;
  fill: #b9d3de;
  margin-right: 11px;
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social__link {
  color: #b9d3de;
}

.footer-social__link:hover {
  color: #b9d3de;
}

.footer-social__item:not(:last-child) {
  margin-right: 50px;
}

.footer-menu {
  margin-left: 30px;
  list-style: none;
  height: 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-menu__item {
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
          break-inside: avoid;
}

.footer-menu__link {
  font-size: 16px;
  margin-bottom: 25px;
  color: #fff;
}

.footer-menu__link:hover {
  color: #fff;
}

.footer-contact {
  margin-left: 64px;
}

.footer-contact__phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.footer-contact__numbers a:not(:last-child) {
  margin-bottom: 10px;
}

.footer-contact__link {
  font-size: 16px;
  color: #fff;
  margin-left: 11px;
}

.footer-contact__link:hover {
  color: #fff;
}

.footer-address div:not(:last-child) {
  margin-bottom: 20px;
}

.footer-address__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-address__block p:not(:last-child) {
  margin-bottom: 10px;
}

/*--------Popup-------- */

.hidden {
  display: none;
}

.form-popup {
  position: relative;
  margin: 0 auto;
  max-width: 555px;
  width: 100%;
  padding: 55px 97px;
  background-color: #fff;
}

.form-popup__title {
  text-align: center;
  margin-bottom: 12px;
  font-family: 'Geometria', sans-serif, serif;
  font-size: 36px;
  font-weight: 500;
  color: #355d6e;
}

.form-popup__description {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  color: #404040;
  margin-bottom: 25px;
}

.form-popup__item {
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #e8e8e8;
}

.form-popup__item:not(:last-child) {
  margin-bottom: 30px;
}

.form-popup__input {
  font-size: 18px;
  font-weight: 300;
  color: #ababab;
}

.form-popup__btn {
  padding: 20px 0;
}

.mfp-close {
  font-size: 18px;
  font-weight: 300;
  color: #ababab;
  position: absolute;
  right: 50%;
  top: 85%;
  opacity: 1 !important;
  visibility: hidden;
}

.mfp-close:before {
  content: 'закрыть';
  display: block;
  visibility: initial;
  font-size: 18px;
  font-weight: 300;
  color: #ababab;
  text-transform: uppercase;
}

.mfp-close:active {
  top: 85%;
}

.success {
  max-width: 555px;
  width: 100%;
  background-color: #fff;
  z-index: 10;
  display: none;
  padding: 55px 90px;
}

.success__icon {
  border: 2px solid #5088a0;
  height: 16px;
  width: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -3px;
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
  border-top: transparent;
  border-left: transparent;
}

.success__icon-border {
  border: 2px solid #5088a0;
  border-radius: 50%;
  width: 39px;
  height: 39px;
  position: absolute;
  left: 50%;
  margin-left: -19px;
}

.success__title {
  font-size: 36px;
  font-family: 'Geometria', sans-serif, serif;
  font-weight: 500;
  color: #355d6e;
  text-align: center;
}

@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 720px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 520px;
  }

  .form-popup {
    max-width: 490px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 90%;
  }

  .form-popup {
    max-width: 258px;
    padding: 45px 15px;
  }

  .form-popup__title {
    font-size: 14px;
  }

  .form-popup__description {
    font-size: 15px;
    margin-bottom: 18px;
  }

  .form-popup__btn {
    padding: 13px 11px;
  }
}